@page "/storeinformation"
@using TotallyNotSmartPay.Pages.Bases;
@using TotallyNotSmartPayModels;
@inherits StoreInformationBase;
<h3>Store Information</h3>

@if (AllStores == null && Columns == null)
{
<div>Loading....</div> }
else
{ 
                <StoreInfoGrid ColumnNames="Columns" StoreList="AllStores"></StoreInfoGrid>
}